[data-theme='oldvintage'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-primary-950);
	--base-font-color-dark: var(--color-primary-50);
	--base-font-family:
		Inter, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: var(--base-font-color);
	--heading-font-color-dark: var(--base-font-color-dark);
	--heading-font-family: 'Abril Fatface', 'Noto Serif', serif;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-600);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(95.37% 0.03 69.29deg);
	--color-primary-100: oklch(90.05% 0.06 68.69deg);
	--color-primary-200: oklch(85.15% 0.09 68.38deg);
	--color-primary-300: oklch(80.18% 0.12 66.81deg);
	--color-primary-400: oklch(75.76% 0.14 64.43deg);
	--color-primary-500: oklch(71.39% 0.16 59.66deg);
	--color-primary-600: oklch(65.87% 0.15 59.75deg);
	--color-primary-700: oklch(60.4% 0.13 60.41deg);
	--color-primary-800: oklch(54.77% 0.12 60.18deg);
	--color-primary-900: oklch(49.04% 0.11 61.07deg);
	--color-primary-950: oklch(42.94% 0.09 61.44deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(98.26% 0.02 169.26deg);
	--color-secondary-100: oklch(94.6% 0.03 162.13deg);
	--color-secondary-200: oklch(91.11% 0.04 156.63deg);
	--color-secondary-300: oklch(87.44% 0.06 154.87deg);
	--color-secondary-400: oklch(83.95% 0.07 152.55deg);
	--color-secondary-500: oklch(80.27% 0.08 151.69deg);
	--color-secondary-600: oklch(72.83% 0.08 152.3deg);
	--color-secondary-700: oklch(65.45% 0.08 152.65deg);
	--color-secondary-800: oklch(57.56% 0.08 152.84deg);
	--color-secondary-900: oklch(49.78% 0.08 152.82deg);
	--color-secondary-950: oklch(41.49% 0.08 152.66deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(96.34% 0.03 209.53deg);
	--color-tertiary-100: oklch(90.63% 0.06 209.03deg);
	--color-tertiary-200: oklch(85.25% 0.09 209.24deg);
	--color-tertiary-300: oklch(80.05% 0.11 210.82deg);
	--color-tertiary-400: oklch(75.64% 0.12 212.53deg);
	--color-tertiary-500: oklch(71.78% 0.13 215.63deg);
	--color-tertiary-600: oklch(65.12% 0.12 217.48deg);
	--color-tertiary-700: oklch(58.25% 0.1 219.09deg);
	--color-tertiary-800: oklch(50.96% 0.09 223.14deg);
	--color-tertiary-900: oklch(43.64% 0.08 226.61deg);
	--color-tertiary-950: oklch(36.11% 0.07 233.14deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(99.02% 0.05 107.26deg);
	--color-success-100: oklch(94.58% 0.07 120.58deg);
	--color-success-200: oklch(90.03% 0.09 126.59deg);
	--color-success-300: oklch(85.69% 0.12 131.21deg);
	--color-success-400: oklch(81.26% 0.14 133.59deg);
	--color-success-500: oklch(77.11% 0.16 135.88deg);
	--color-success-600: oklch(69.6% 0.16 137.55deg);
	--color-success-700: oklch(61.95% 0.15 139.06deg);
	--color-success-800: oklch(54.46% 0.15 140.67deg);
	--color-success-900: oklch(46.6% 0.14 141.84deg);
	--color-success-950: oklch(38.68% 0.13 142.54deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(98.04% 0.11 108.26deg);
	--color-warning-100: oklch(94.99% 0.13 103.88deg);
	--color-warning-200: oklch(92.16% 0.15 101.3deg);
	--color-warning-300: oklch(89.29% 0.16 98.08deg);
	--color-warning-400: oklch(86.64% 0.17 95.5deg);
	--color-warning-500: oklch(83.97% 0.17 91.49deg);
	--color-warning-600: oklch(75.87% 0.15 88.77deg);
	--color-warning-700: oklch(67.57% 0.14 85.16deg);
	--color-warning-800: oklch(58.83% 0.12 79.48deg);
	--color-warning-900: oklch(50.02% 0.1 72.32deg);
	--color-warning-950: oklch(40.91% 0.09 61.9deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(92.64% 0.04 45.08deg);
	--color-error-100: oklch(87.88% 0.05 37.49deg);
	--color-error-200: oklch(82.85% 0.06 31.65deg);
	--color-error-300: oklch(78.14% 0.08 27.84deg);
	--color-error-400: oklch(73.15% 0.09 25.37deg);
	--color-error-500: oklch(68.52% 0.11 24.52deg);
	--color-error-600: oklch(61.05% 0.11 23.6deg);
	--color-error-700: oklch(53.54% 0.11 22.75deg);
	--color-error-800: oklch(45.7% 0.1 22.85deg);
	--color-error-900: oklch(37.88% 0.1 22.71deg);
	--color-error-950: oklch(29.86% 0.1 23.61deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-dark);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(91.02% 0 67.89deg);
	--color-surface-100: oklch(80.57% 0 67.81deg);
	--color-surface-200: oklch(69.85% 0.01 59.66deg);
	--color-surface-300: oklch(58.61% 0.01 61.38deg);
	--color-surface-400: oklch(46.9% 0.01 58.02deg);
	--color-surface-500: oklch(34.32% 0.02 59.12deg);
	--color-surface-600: oklch(32.01% 0.01 54.05deg);
	--color-surface-700: oklch(29.79% 0.01 62.14deg);
	--color-surface-800: oklch(27.39% 0.01 55.86deg);
	--color-surface-900: oklch(25.08% 0.01 67.37deg);
	--color-surface-950: oklch(22.56% 0.01 59.22deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
.dark[data-theme='oldvintage'] body {
	background-image:
		radial-gradient(at 100% 0%, hsla(135, 34%, 70%, 0.14) 0px, transparent 50%),
		radial-gradient(at 85% 100%, hsla(31, 83%, 50%, 0.14) 0px, transparent 50%);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
[data-theme='oldvintage'] h1,
[data-theme='oldvintage'] h2,
[data-theme='oldvintage'] h3,
[data-theme='oldvintage'] h4,
[data-theme='oldvintage'] h5,
[data-theme='oldvintage'] h6 {
	letter-spacing: 1px;
}
