@import 'tailwindcss';
@import '@skeletonlabs/skeleton';

@import '@skeletonlabs/skeleton/optional/presets';

@source "../node_modules/@skeletonlabs/skeleton-svelte/dist";

@tailwind utilities;

@font-face {
	/* Reference name */
	font-family: 'Abril Fatface';
	src: url('/fonts/AbrilFatface-Regular.ttf');
	font-display: swap;
}
@font-face {
	/* Reference name */
	font-family: 'Noto Sans';
	src: url('/fonts/NotoSans-VariableFont_wdth,wght.ttf');
	font-display: swap;
	font-style: normal;
	font-weight: 100 900;
	font-stretch: 62.5% 100%;
}
@font-face {
	/* Reference name */
	font-family: 'Noto Serif';
	src: url('/fonts/NotoSerif-VariableFont_wdth,wght.ttf');
	font-display: swap;
	font-style: normal;
	font-weight: 100 900;
	font-stretch: 62.5% 100%;
}
@font-face {
	/* Reference name */
	font-family: 'Noto Sans';
	src: url('/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf');
	font-display: swap;
	font-style: italic;
	font-weight: 100 900;
	font-stretch: 62.5% 100%;
}
@font-face {
	/* Reference name */
	font-family: 'Noto Serif';
	src: url('/fonts/NotoSerif-Italic-VariableFont_wdth,wght.ttf');
	font-display: swap;
	font-style: italic;
	font-weight: 100 900;
	font-stretch: 62.5% 100%;
}
@import '../oldvintage.css';
@custom-variant dark (&:where(.dark, .dark *));

.typography {
	h1:not(:where([class~='unstyled'], [class~='unstyled'] *)) {
		@apply h1 mb-4;
	}

	h2:not(:where([class~='unstyled'], [class~='unstyled'] *)) {
		@apply h2 my-4;
	}
	a:not(:where([class~='unstyled'], [class~='unstyled'] *, h2 > a, h3 > a, h4 > a)) {
		@apply anchor;
	}
	p:not(:where([class~='unstyled'], [class~='unstyled'] *)) {
		@apply mb-4;
	}
	ul:not(:where([class~='unstyled'], [class~='unstyled'] *)) {
		@apply list-disc pl-4;
		li:not(:where([class~='unstyled'], [class~='unstyled'] *)) {
			@apply mb-2;
		}
	}
}

.fasskommanchor.single {
	@apply text-green-600 z-10;
}
.fasskommanchor.multi {
	@apply text-red-500 z-10;
}

/* Transcriptions of Textzeugen */
.tei-content {
	.image {
		@apply italic;
	}
	.sr {
		color: green;
	}
	.del_sr {
		color: #666;
		@apply line-through;
	}
	.subst,
	.subst_sr {
		color: green;
		.deleted {
			color: #666;
		}
		.rasure {
			@apply bg-[#666];
		}
	}
	.subst_ls {
		color: #8cfff4;
		.deleted {
			color: #666;
		}
		.rasure {
			@apply bg-[#666];
		}
	}
	.red {
		color: #f60;
		@apply decoration-red-500;
	}
	.underline {
		text-decoration: underline;
	}
	.marginalia {
		@apply italic;
		@apply ml-4;
	}
	.corr,
	.note {
		@apply italic;
	}
	.gap {
		color: green;
		@apply bg-[#9f9f9f];
	}

	.fragment-loss {
		@apply bg-transparent;
		color: #666;
	}

	.initial,
	.glory-initial,
	.capital-initial {
		@apply font-bold;
		@apply text-2xl;
		@apply text-red-500;
	}

	.majuscule,
	.large-variant {
		@apply font-black;
		@apply text-base;
	}

	.glory-initial {
		@apply bg-[gold];
	}

	.verse + .content:has(.versechange) {
		&::after {
			content: '\2195';
			@apply inline;
			@apply h-4;
			@apply ml-2;
		}
	}

	.verse + .content:has(.verse-change) {
		&::after {
			content: '\21E1' '\A' '\21E3'; /* forces single content concat */
			white-space: pre-line;
			display: inline-block;
			line-height: 1;
			font-size: 0.5em;
			@apply h-4;
			@apply ml-2;
		}
	}

	.not-executed {
		@apply text-red-500;
		&::before {
			content: '\005B';
			@apply text-surface-contrast-500;
			@apply inline;
			@apply h-4;
		}
		&::after {
			content: '\005D';
			@apply text-surface-contrast-500;
			@apply inline;
			@apply h-4;
		}
	}
	.deleted + .added::before {
		content: ' ';
	}
}

/* verssynopsis */
div.content > div.tei-l:has(span.versechange) {
	&::after {
		content: '\2195';
		@apply inline;
		@apply h-4;
		@apply ml-2;
	}
}

#about-btn {
	anchor-name: --about-btn;
}

#about-menu {
	position-anchor: --about-btn;
	top: anchor(bottom);
	left: anchor(left);
	margin-top: 0.5rem;
}
